<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thenx.dao.GeneratorTestsMapper">
  <resultMap id="BaseResultMap" type="org.thenx.entity.GeneratorTests">
    <!--
    resultMap语句操作
 作者： Wales-YuSun Jun 20 15:39:22 CST 2021
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="job_level_id" jdbcType="INTEGER" property="jobLevelId" />
    <result column="posId" jdbcType="INTEGER" property="posid" />
    <result column="engage_form" jdbcType="VARCHAR" property="engageForm" />
    <result column="tiptop_degree" jdbcType="CHAR" property="tiptopDegree" />
    <result column="specialty" jdbcType="VARCHAR" property="specialty" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="begin_date" jdbcType="DATE" property="beginDate" />
    <result column="work_state" jdbcType="CHAR" property="workState" />
    <result column="work_id" jdbcType="CHAR" property="workId" />
    <result column="contract_term" jdbcType="DOUBLE" property="contractTerm" />
    <result column="conversion_time" jdbcType="DATE" property="conversionTime" />
    <result column="notWork_date" jdbcType="DATE" property="notworkDate" />
    <result column="begin_contract" jdbcType="DATE" property="beginContract" />
    <result column="end_contract" jdbcType="DATE" property="endContract" />
    <result column="work_age" jdbcType="INTEGER" property="workAge" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    sql语句操作
 作者： Wales-YuSun Jun 20 15:39:22 CST 2021
    -->
    id, p_id, department_id, job_level_id, posId, engage_form, tiptop_degree, specialty, 
    school, begin_date, work_state, work_id, contract_term, conversion_time, notWork_date, 
    begin_contract, end_contract, work_age
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    select语句操作
 作者： Wales-YuSun Jun 20 15:39:22 CST 2021
    -->
    select 
    <include refid="Base_Column_List" />
    from generator_tests
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    delete语句操作
 作者： Wales-YuSun Jun 20 15:39:22 CST 2021
    -->
    delete from generator_tests
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.thenx.entity.GeneratorTests">
    <!--
    insert语句操作
 作者： Wales-YuSun Jun 20 15:39:22 CST 2021
    -->
    insert into generator_tests (id, p_id, department_id, 
      job_level_id, posId, engage_form, 
      tiptop_degree, specialty, school, 
      begin_date, work_state, work_id, 
      contract_term, conversion_time, notWork_date, 
      begin_contract, end_contract, work_age
      )
    values (#{id,jdbcType=VARCHAR}, #{pId,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, 
      #{jobLevelId,jdbcType=INTEGER}, #{posid,jdbcType=INTEGER}, #{engageForm,jdbcType=VARCHAR}, 
      #{tiptopDegree,jdbcType=CHAR}, #{specialty,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{beginDate,jdbcType=DATE}, #{workState,jdbcType=CHAR}, #{workId,jdbcType=CHAR}, 
      #{contractTerm,jdbcType=DOUBLE}, #{conversionTime,jdbcType=DATE}, #{notworkDate,jdbcType=DATE}, 
      #{beginContract,jdbcType=DATE}, #{endContract,jdbcType=DATE}, #{workAge,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.thenx.entity.GeneratorTests">
    <!--
    insert语句操作
 作者： Wales-YuSun Jun 20 15:39:22 CST 2021
    -->
    insert into generator_tests
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="jobLevelId != null">
        job_level_id,
      </if>
      <if test="posid != null">
        posId,
      </if>
      <if test="engageForm != null">
        engage_form,
      </if>
      <if test="tiptopDegree != null">
        tiptop_degree,
      </if>
      <if test="specialty != null">
        specialty,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="beginDate != null">
        begin_date,
      </if>
      <if test="workState != null">
        work_state,
      </if>
      <if test="workId != null">
        work_id,
      </if>
      <if test="contractTerm != null">
        contract_term,
      </if>
      <if test="conversionTime != null">
        conversion_time,
      </if>
      <if test="notworkDate != null">
        notWork_date,
      </if>
      <if test="beginContract != null">
        begin_contract,
      </if>
      <if test="endContract != null">
        end_contract,
      </if>
      <if test="workAge != null">
        work_age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="jobLevelId != null">
        #{jobLevelId,jdbcType=INTEGER},
      </if>
      <if test="posid != null">
        #{posid,jdbcType=INTEGER},
      </if>
      <if test="engageForm != null">
        #{engageForm,jdbcType=VARCHAR},
      </if>
      <if test="tiptopDegree != null">
        #{tiptopDegree,jdbcType=CHAR},
      </if>
      <if test="specialty != null">
        #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=DATE},
      </if>
      <if test="workState != null">
        #{workState,jdbcType=CHAR},
      </if>
      <if test="workId != null">
        #{workId,jdbcType=CHAR},
      </if>
      <if test="contractTerm != null">
        #{contractTerm,jdbcType=DOUBLE},
      </if>
      <if test="conversionTime != null">
        #{conversionTime,jdbcType=DATE},
      </if>
      <if test="notworkDate != null">
        #{notworkDate,jdbcType=DATE},
      </if>
      <if test="beginContract != null">
        #{beginContract,jdbcType=DATE},
      </if>
      <if test="endContract != null">
        #{endContract,jdbcType=DATE},
      </if>
      <if test="workAge != null">
        #{workAge,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.thenx.entity.GeneratorTests">
    <!--
    update语句操作
 作者： Wales-YuSun Jun 20 15:39:22 CST 2021
    -->
    update generator_tests
    <set>
      <if test="pId != null">
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="jobLevelId != null">
        job_level_id = #{jobLevelId,jdbcType=INTEGER},
      </if>
      <if test="posid != null">
        posId = #{posid,jdbcType=INTEGER},
      </if>
      <if test="engageForm != null">
        engage_form = #{engageForm,jdbcType=VARCHAR},
      </if>
      <if test="tiptopDegree != null">
        tiptop_degree = #{tiptopDegree,jdbcType=CHAR},
      </if>
      <if test="specialty != null">
        specialty = #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        begin_date = #{beginDate,jdbcType=DATE},
      </if>
      <if test="workState != null">
        work_state = #{workState,jdbcType=CHAR},
      </if>
      <if test="workId != null">
        work_id = #{workId,jdbcType=CHAR},
      </if>
      <if test="contractTerm != null">
        contract_term = #{contractTerm,jdbcType=DOUBLE},
      </if>
      <if test="conversionTime != null">
        conversion_time = #{conversionTime,jdbcType=DATE},
      </if>
      <if test="notworkDate != null">
        notWork_date = #{notworkDate,jdbcType=DATE},
      </if>
      <if test="beginContract != null">
        begin_contract = #{beginContract,jdbcType=DATE},
      </if>
      <if test="endContract != null">
        end_contract = #{endContract,jdbcType=DATE},
      </if>
      <if test="workAge != null">
        work_age = #{workAge,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.thenx.entity.GeneratorTests">
    <!--
    update语句操作
 作者： Wales-YuSun Jun 20 15:39:22 CST 2021
    -->
    update generator_tests
    set p_id = #{pId,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      job_level_id = #{jobLevelId,jdbcType=INTEGER},
      posId = #{posid,jdbcType=INTEGER},
      engage_form = #{engageForm,jdbcType=VARCHAR},
      tiptop_degree = #{tiptopDegree,jdbcType=CHAR},
      specialty = #{specialty,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=DATE},
      work_state = #{workState,jdbcType=CHAR},
      work_id = #{workId,jdbcType=CHAR},
      contract_term = #{contractTerm,jdbcType=DOUBLE},
      conversion_time = #{conversionTime,jdbcType=DATE},
      notWork_date = #{notworkDate,jdbcType=DATE},
      begin_contract = #{beginContract,jdbcType=DATE},
      end_contract = #{endContract,jdbcType=DATE},
      work_age = #{workAge,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>